{% extends 'base.html' %}

{% block title %}Список задач - ADITIM{% endblock %}



{% block content %}
<div class="row">
    <div class="col-12">
        {% if task_list %}
            {% for task in task_list %}
                <div class="card mb-2">
                    <div class="card-body p-2 row align-items-center">
                        <!-- Колонка 1: Артикул + Компоненты -->
                        <div class="col-2">
                            <span class="h3 mb-0 text-primary">{{ task.get_display_name }}</span>
                            {% with components=task.component_list.all %}
                                {% if components %}
                                    <div class="d-flex flex-wrap gap-1 mt-0">
                                        {% for comp in components %}
                                            <span class="badge bg-light border text-dark small">{{ comp.component_name }}</span>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            {% endwith %}
                        </div>

                        <!-- Колонка 2: Тип работ -->
                        <div class="col-2 text-muted fs-5">
                            {% if task.type.name %}
                                {{ task.type.name }}
                            {% else %}
                                —
                            {% endif %}
                        </div>

                        <!-- Колонка 2: Местоположение -->
                        <div class="col-2 text-muted fs-5">
                            {% if task.location.name %}
                                {{ task.location.name }}
                            {% else %}
                                —
                            {% endif %}
                        </div>    

                        <!-- Колонка 3: Описание -->
                        <div class="col-4 text-muted fs-5">
                            {% if task.description %}
                                {{ task.description|truncatewords:10 }}
                            {% endif %}
                        </div>

                        <!-- Колонка 4: Дата -->
                        <div class="col-2 text-muted text-end fs-4">
                            {% if task.deadline %}
                                {{ task.deadline|date:"d.m.Y" }}
                            {% else %}
                                —
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="alert alert-info">Задачи не найдены.</div>
        {% endif %}
    </div>
</div>
{% endblock %}