/* ADITIM Monitor - Корпоративные стили */

/* Основные настройки */

QMainWindow {
    background-color: {{COLOR_PRIMARY_DARK}};
    color: white;
}


QTableWidget::item {
    border: none;
    outline: none;
}

QTableWidget::item:selected {
    background-color: {{COLOR_PRIMARY_DARK}};
    border: none;
    outline: none;
}


