/* ADITIM Monitor - Корпоративные стили */

/* Основные настройки */

QMainWindow {
    background-color: {{COLOR_PRIMARY_DARK}};
    color: #d3cccce0;
}
QTableWidget::item {
    border: none;
    outline: none;
}

QTableWidget::item:selected {
    background-color: {{COLOR_PRIMARY_DARK}};
    border: none;
    outline: none;
}



/* Заголовоки */
QLabel#label_header{
    font-size: {{FONT_SIZE_LOGO}};
    font-weight: bold;
    color: #d3cccce0;
    text-align: center;
}


