<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}ADITIM ЗАДАЧИ{% endblock %}</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Ваши стили -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container d-flex justify-content-between align-items-center">
            <!-- Заголовок слева -->
            <div>
                <h1 class="navbar-brand mb-0 display-4 fw-bold">Список задач</h1>
                <div class="d-flex align-items-center mt-1">
                    <span id="last-update" class="badge bg-secondary me-2">Обновлено: --:--</span>
                    <span id="update-status" class="badge bg-success">Автообновление включено</span>
                </div>
            </div>

            <!-- Логотип справа -->
            <a href="{% url 'task_display:task_list' %}">
                <img src="{% static 'img/aditim_logo.png' %}" alt="Логотип ADITIM" class="header-logo">
            </a>
        </div>
    </nav>

    <div class="container mt-4">
        {% block content %}
        {% endblock %}
    </div>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

    {% block scripts %}{% endblock %}
</body>
</html>